@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden; 
}
body{
    font-family: "Zalando Sans Expanded", sans-serif;
    line-height: 1.6;
}
.container{
    width: 100%;
    margin: 0;
    padding: 0 40px;
}
.header{
    height: 15vh;
    background-color: #153656f3;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.nav{
    /* max-height: 30vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:12rem;
}
.image{
    margin: 10px;
    height: 12vh;
    width: 25vh;
    border-radius: 50%;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    
    list-style: none;
    margin: 0 3rem;
}
.nav-links a{
    color: white;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    border-radius: 4px;
    transition: background-color 0.3s ease-in;
}
.nav-links a:hover{
    background-color: #213a4ff3;
    border: 2px solid  rgba(0,0,0,0.1);
    box-shadow: 1px 1px #ff0000;
    transform: translateY(-3px);

}
.user-name{
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: rgb(43, 151, 246);
    border-radius: 4px;
    transition: background-color 0.3s ease-in;
    box-shadow: 9px 9px rgba(0,0,0,0.1);
}
.user-name:hover{
    background-color: rgb(23, 68, 192);
    border: 2px solid  rgba(0,0,0,0.1);
    box-shadow: 1px 1px #ff0000;
    transform: translateY(-3px);
}
.hero{
    width: 100%;
    height: 85vh;          
    margin-top: 15vh;      
    background-color: rgb(156, 201, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}
.left{
    flex: 1;
    padding: 40px;
}
.left h1{
    color: rgb(10, 10, 11);
    padding-left:20px ;
    margin-left:3px;
    margin-bottom: 8px;
    font-size: 40px;
    font-weight: 900;
}
.left h3{
    color: #333;;
    margin-bottom: 30px ;
    font-size: 18px;
}
.left h2{
    margin-bottom: 30px ;
    font-size: 25px;
}
.h2{
    margin: 20px auto;
    padding: 1rem 1rem;
    width: 400px;
    background-color: #6ba5d4;
    color: rgb(2, 67, 87);
    border-radius: 20px;
    transition: all 0.3s ease;
}
.left p{
    font-size: 20px;
    color: #333;;
}
.rt{
    flex: 1;
    display: flex;
    justify-content: center;
}
.right{
    max-width: 45vw;
    height: auto;
    margin: 0;
}

.right{
    margin: 70px;
    border: 2px solid rgb(14, 170, 243);
    border-radius: 30px;
    box-shadow: 5px 5px #3d5e86;
    transition: all 0.3s ease;
}
.right:hover{
    transform: translateY(-10px);
    cursor: pointer;
}

.button{
    margin: 20px auto;
    max-width: 400px;
    word-spacing: 1.5px;
    font-size: 25px;
    padding: 2rem 1rem;
    width: 400px;
    background-color: #bccad8;
    color: rgb(18, 76, 97);
    border-radius: 20px;
    transition: all 0.3s ease;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 900;
    display: block;
}
.button:hover{
    background-color: #2c3e50;
    color: white;
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 9px 9px rgba(0,0,0,0.1);
}

